.Footer {
    width: 100%;
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .socialMediaImg{
        margin: 0 8px;
        width: 20px;
        height: 25px;   
    }
}